@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Poppins:wght@400;500;600;700&familydisplay=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1b1f27;
  --second-bg-color: #323469;
  --main-color: #7cf03d;
  --white-color: #fff;
  --disabled-color: #fff3;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--white-color);
  line-height: 1.6;
  width: 100%;
}

/* ===== HEADER ===== */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 2rem 9%; */
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0 0 20px rgba(0,0,0,.4);
}

.logo {
  font-size: 3rem;
  color: var(--white-color);
  font-weight: 700;
  padding: 2rem 9%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 2rem 9%;
}

nav a {
  font-size: 3rem;
  color: var(--white-color);
  font-weight: 500;
  transition: .4s;
}

nav a:hover,
nav a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 4rem;
  display: none;
}

#menu-toggle {
  display: none;
}

@media (max-width: 768px){
  nav{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: var(--second-bg-color);
    transition: transform 0.4s ease;
    z-index: 100;
    opacity: 0;
  }

  nav a{
    display: block;
    /* padding: 1.2rem 0; */
    font-size: 2rem;
  }

  .menu-icon{
    display: block;
    padding: 20px;
  }

  .logo{
    padding: 10px;
  }

  #menu-toggle:checked ~ nav{
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}

/* ===== SECTIONS ===== */
section {
  min-height: 100vh;
  /* width: 100%; */
  padding: 10rem 9% 3rem;
  opacity: 1;
  transition: opacity .7s ease-in-out;
}

/* section.active {
  display: block;
  opacity: 1;
} */

/* Background tiap section */
.home { background: #082d53; }
.pengalaman { background: #082d53; }
.resume { background:#082d53 ; }
.contact { background: #082d53; }

/* ===== HOME ===== */
.home {
  
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.home-detail {
  max-width: 600px;
  flex: 1;
}

.home-detail h1 {
  font-size: clamp(3.5rem, 10vw, 5.5rem);
  margin-bottom: 1rem;
}

.home-detail h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-detail p {
  font-size: 1.6rem;
  margin: 1rem 0 2.5rem;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--bg-color);
  font-weight: 500;
  transition: .5s;
  cursor: pointer;
}

.btn:hover {
  background: transparent;
  color: var(--main-color);
  box-shadow: none;
}

/* Foto profil */
.home-img img{
  /* position: absolute; */ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  justify-content: right;
  max-width: 350px;
  width: 100px;
  border-radius: 50%;
}

.home-img{
  flex: 1;
  display: flex;
  justify-content: center ;
}

.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 20%;
  border: .4rem solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  object-fit: cover;  
  transition: transform .4s ease;
}

.profile-img:hover {
  transform: scale(1.05);
}


/* buat buttons */
.btn-sci {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btn-sci .sci a {
  display: inline-flex;
  padding: .8rem;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  transition: .4s;
}

.btn-sci .sci a:hover {
  background: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn-sci .img{
  display: grid;
  grid-template-columns: auto;
  gap: 5rem;
}

/* ===== PENGALAMAN ===== */
.heading {
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: var(--main-color);
}

.pengalaman-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.pengalaman-box {
  padding: 3rem 2.5rem;
  background: var(--second-bg-color);
  border: .2rem solid var(--second-bg-color);
  border-radius: 1rem;
  transition: .5s;
}

.pengalaman-box:hover {
  background: var(--main-color);
  transform: scale(1.02);
}

.pengalaman-box h3 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

/* ===== CONTACT ===== */
.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 3rem;
}

.contact-box h2 {
  font-size: 3.5rem;
}

.contact-box p {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.contact-detail {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.contact-detail i {
  display: inline-flex;
  background: var(--second-bg-color);
  color: var(--main-color);
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: .6rem;
  margin-right: 1.5rem;
}

.contact-box form {
  background: var(--second-bg-color);
  padding: 2.5rem 3.5rem;
  border-radius: 1rem;
  text-align: center;
}

.field-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2rem;
}

.field-box input,
.field-box textarea {
  padding: 1.5rem;
  background: var(--bg-color);
  border: .15rem solid var(--bg-color);
  border-radius: .6rem;
  font-size: 1.6rem;
  color: var(--white-color);
}

.field-box textarea {
  grid-column: 1 / -1;
  height: 20rem;
  resize: none;
}

.field-box input:focus,
.field-box textarea:focus {
  border-color: var(--main-color);
}

.contact-box .btn {
  margin-top: 2rem;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  
  .navbar {
    gap: 2rem;
  }
  
  .home {
    flex-direction: column;
    text-align: center;
  }
}
